# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.pdb
*.ipdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.enc

# Visual Studio local files
*.suo
*.db
*.idb
*.vcxproj
*.user
*.users
*.filters
.vs/*

# Executables
*.exe
*.out
*.app

# Logs
*.log
*.tlog
*.recipe

# Assets
*.obj
*.mtl
*.jpg
*.png
*.tga
*.tif

*.swp

Renderer/Configs/*
*Release/*
